@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
  background: #F0EDE4;
  color: #2D2D2D;
  -webkit-font-smoothing: antialiased;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}
